<section id="navigation-header">
  <nav class="container py-3">
    <div class="row align-items-center justify-content-between">
      <div class="col">
        <a routerLink="/" class="brand-logo"><img src="/assets/Images/sample_logo.svg" alt="" height="45" width="auto"></a>
      </div>
      <div class="col d-inline-block d-md-none menu-trigger" style="text-align: right;">
        <a href="javascript:void(0)" (click)="toggle()">
          <img [src]="menuOpen ? '/assets/Images/menu_open.svg':'/assets/Images/menu_close.svg'" alt="">
        </a>
      </div>
      <div class="col text-right" style="text-align: right;" [ngClass]="menuOpen ? 'menuOpen':'menuClose'">
        <div class="ml-auto">
          <a routerLink="/" routerLinkActive="active">Home</a>
          <a href="javascript: void(0)" *ngIf="authUser" (click)="logout()">Logout</a>
          <a href="javascript: void(0)" *ngIf="authUser">{{authUser.fName + " " + authUser.lName}}</a>
        </div>
      </div>
    </div>
  </nav>
</section>
