#navigation-header {
  z-index: 10000;
  max-height: 77px;
  position: relative;
}

nav a:not(.brand-logo) {
  line-height: 45px;
  font-size: 17px;
  color: #adadad;
  position: relative;
  padding: 0px 16px;
  text-transform: uppercase;
}

nav a.active {
  color: #5d55fa;
}

nav a.active::after {
  content: "";
  height: 2px;
  width: 30%;
  background-color: #5d55fa;
  position: absolute;
  bottom: -4px;
  left: 16px;
}


@media screen and (max-width: 578px) {
  .menuClose {
    display: none;
  }

  .menuOpen {
    display: block;
    min-width: 100%;
    text-align: left;
    background-color: #000000;
    padding: 16px 0px;
    position: fixed;
    top: 77px;
    left: 0;
    width: 100vw;
    min-height: Calc(100vh - 77px);
    overflow-y: auto;
    z-index: 1100;
  }

  .menuOpen a{
    display: block;
    text-align: left;
    padding-left: 0px;
    margin-top: 16px;
    z-index: auto;
    position: relative;
  }
}
