<swiper [config]="config" style="width: 400px;">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let slide_dta of data_set">Slide 1</div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>
