.full-screen-container {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  /* background-image: url('/assets/Images/pexels-robert-hernandez-villalta-128457.jpg'); */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.screen-overlay {
  background-color: rgba(0, 0, 0, 0.975);
}

.brand-logo {
  max-width: 100px;
}

.auth-container .row {
  min-height: 100vh;
}

.authentication-card {
  background-color: #0c0c0d;
  border-radius: 6px;
}

@media screen and (max-width: 520px) {
  .authentication-card {
    min-height: 100vh;
  }
}
