<section class="full-screen-container">
  <div class="screen-overlay">
    <div class="container auth-container">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6 col-lg-4 authentication-card p-4 p-lg-5 pt-5">
          <div class="text-center w-100 mb-4">
            <img src="/assets/Images/sample_logo.svg" alt="" class="brand-logo">
          </div>
          <div class="mb-3 text-center">
            <h6 class="fw-600">Signin</h6>
          </div>
          <div class="w-100 text-center mb-4">
            <p class="">
              Connect to your Sports app account. <br>
              Don't have an account? <a routerLink="/login">Sign up here</a>
            </p>
          </div>
          <form (ngSubmit)="onSubmit(aF.value, !aF.form.invalid)" #aF="ngForm">
            <div class="form-group mb-4">
              <label for="email">Email</label>
              <input type="text" name="email" ngModel class="form-control" placeholder="eg. john_doe@email.com" required>
            </div>
            <div class="form-group mb-4">
              <label for="email">Password</label>
              <input type="password" name="password" ngModel class="form-control" placeholder="eg. •••••••••" required>
            </div>
            <div class="w-100 pt-1 mb-4">
              <button type="submit" class="cta btn btn-primary w-100 py-2">Login →</button>
            </div>
            <div class="w-100 text-center">
              <p class="mb-0"><a routerLink="/login"><small>Reset your password</small></a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
