<section id="hero_section">
  <div class="overlay"></div>
  <div class="dashboard-header-content">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 col-md-8 col-lg-7 my-4 my-md-5">
          <div class="search-bar d-blcok mt-4">
            <div class="search-bar-input">
              <input type="text" #search_input class="form-control" (keyup.enter)="search(search_input.value)" placeholder="Type something here to search Teams / Players / Events">
            </div>
            <div class="search-button">
              <a href="javascript:void(0)" (click)="search(search_input.value)"><img src="/assets/Images/search-icon.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Search results -->
<section class="py-5" id="search-results-section" *ngIf="search_results.key">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="fw-300">Search results for <span class="fw-800">{{search_results.key}}</span></h2>
      </div>
      <div class="mt-4" *ngIf="!search_results.teams && !search_results.players">
        <p>No results found for <b>{{search_results.key}}</b></p>
      </div>
      <div class="col-12 mt-4" *ngIf="search_results.teams">
        <div class="mb-4">
          <h4>Teams</h4>
        </div>
        <div class="row justify-content-start">
          <div class="col search-result-card mb-3" *ngFor="let team of search_results.teams ">
            <app-search-result-card data-model="team" [data-set]="team" [data-fav-team]="authUser.fav_team_id"></app-search-result-card>
          </div>
        </div>
      </div>
      <div class="col-12 mt-4" *ngIf="search_results.players">
        <div class="mb-4">
          <h4>Players</h4>
        </div>
        <div class="row justify-content-start">
          <div class="col search-result-card mb-3" *ngFor="let player of search_results.players ">
            <app-search-result-card data-model="player" [data-set]="player" [data-fav-team]="authUser.fav_team_id"></app-search-result-card>
          </div>
        </div>
      </div>
      <div class="col-12 mt-4" *ngIf="search_results.events">
        <div class="mb-4">
          <h4>Events</h4>
        </div>
        <div class="row justify-content-start">
          <div class="col search-result-card for-events mb-3" *ngFor="let event of search_results.events">
            <app-search-result-card data-model="event" [data-set]="event"></app-search-result-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Recent events  -->
<section class="py-5" id="main_section" *ngIf="recentEvents">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="fw-300">Recent events <span *ngIf="authUser.fav_team_name"> for <span class="fw-800">{{authUser.fav_team_name}}</span> team</span></h2>
      </div>
      <div class="col-12" *ngIf="!recentEvents.results">
        <p>No recent events found for your favourite team <span class="fw-600">{{authUser.fav_team_name}}</span></p>
      </div>
      <div class="col-12 mt-4" *ngIf="recentEvents.results">
        <div class="row events-cards">
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 event-card-block" *ngFor="let event of recentEvents.results">
            <div class="event-card mb-4 bg-dark">
              <div class="event-thumb">
                <a href="{{event.strVideo}}" target="_blank" *ngIf="event.strVideo">
                  <img class="img-fluid" src="{{event.strThumb}}" alt="">
                  <span class="play_button"></span>
                </a>
                <img class="img-fluid" *ngIf="!event.strVideo" src="{{event.strThumb || '/assets/Images/football%201.jpg'}}" alt="">
                <span class="event-time">{{event.strTimestamp | date:'MMM d, y, h:mm a'}}</span>
              </div>
              <div class="event-data p-3">
                <p class="event-name fw-600">
                  {{event.strFilename}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
