#hero_section {
  position: relative;
  background-image: url(/assets/Images/pexels-pixabay-47730.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
  display: block;
  margin-top: -77px;
  z-index: 1;
  padding-top: 77px;
}

.dashboard-header-content {
  position: absolute;
  top: 77px;
  width: 100%;
}

#hero_section .overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

#search_input {
  border-color: #FFFFFF;
}

#search-input-button-2 {
  border: transparent;
  color: #241cb0;
}

.search-bar {
  position: relative;

}

.search-bar .search-bar-input {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
}

.search-bar .search-bar-input input {
  background-color: #F2F2F2;
  color: #212121;
  /* border-radius: 8px; */
}

.search-bar .search-button {
  position: absolute;
  top: 50%;
  right: 0px;
}

.search-bar .search-button a {
  width: 46px; height: 46px; padding: 11px;
  position: relative;
  display: block;
  text-align: center;
}

.search-bar .search-button a img {width: 20px; height: 20px;}

@media screen and (min-width: 1440px) {
  .event-card-block {
    max-width: 250px;
  }
}

.event-card {
  border-radius: 6px;
  overflow: hidden;
  background-color: #17171a;
  user-select: none;
}

.event-thumb {
  position: relative;
}

a {
  position: relative;
}

.event-time {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 4px 8px;
  font-size: 80%;
}
.event-image {
  height: 200px;
  width: 100%;
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.play_button {
  position: absolute;
  top: 50%;
  left: 50%;
  /* translate: transform(-50%, -50%); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-image: url(/assets/Images/play_button.svg);
  transform: translate(-50%, -50%);
  }

.search-result-card {
  width: 175px !important;
  max-width: 175px;
  min-width: 175px;
}

.search-result-card.for-events {
  width: 225px !important;
  max-width: 225px;
  min-width: 225px;
}

.search-result-card img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
