/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
  background-color: #000000;
  font-size: 14px;
  font-weight: 400;;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
}

p {
  color: #adadad;
  font-weight: 400;
  font-size: 14px;
}

a {
  /* color: #4b47a2; */
  color: #5d55fa;
  text-decoration: none;
}

button {font-size: 14px; font-weight: 300;}

.form-group label {
  color: #adadad;
  font-size: 14px;
}

.form-control, .form-control:active, .form-control:focus {
  background-color: #17171a;
  color: #FFFFFF;
  border-color: transparent !important;
  line-height: 2;
  box-shadow: unset !important;
  padding-right: 16px;
  padding-left: 16px;
  line-height: 32px;
  font-weight: 14px;
}

.cta {
  background-color: #241CB0 !important;
  color: #FFFFFF;
  border-color: transparent !important;
  padding-top: 10px;
  padding-bottom: 10px;
}


.fw-100 {font-weight: 100;}
.fw-300 {font-weight: 300;}
.fw-400 {font-weight: 400;}
.fw-600 {font-weight: 600;}
.fw-700 {font-weight: 700;}
.fw-800 {font-weight: 800;}
