<div class="result-card" *ngIf="data_model == 'team'">
  <div class="result-thumb">
    <img [src]="data_set.strTeamBadge ? data_set.strTeamBadge:'/assets/Images/soccer-team-ball-star-badge-sticker-by-Vexels.svg'" [alt]="data_set.strTeam">
    <a href="javascript:void(0)" class="make-fav-button" (click)="select_fav_team(data_set.idTeam, data_set.strTeam)">
      <i class="fav-team-status" [ngClass]="data_fav_team == data_set.idTeam ? 'heart-full':'heart-outline'"></i>
    </a>
  </div>
  <div class="result-data">
    <p class="my-0 text-truncate" title="{{data_set.strTeam}}" innerHTML="{{data_set.strTeam}}"></p>
  </div>
</div>

<div class="result-card" *ngIf="data_model == 'player'">
  <div class="result-thumb">
    <img [src]="data_set.strThumb ? data_set.strThumb: '/assets/Images/player.svg'" [alt]="data_set.strThumb">
  </div>
  <div class="result-data">
    <p class="my-0 text-truncate" title="{{data_set.strPlayer}}" innerHTML="{{data_set.strPlayer}}"></p>
  </div>
</div>

<div class="result-card" *ngIf="data_model == 'event'">
  <div class="result-thumb">
    <img [src]="data_set.strThumb ? data_set.strThumb: '/assets/Images/football%201.jpg'" [alt]="data_set.strEvent">
  </div>
  <div class="result-data">
    <p class="my-0 text-truncate" title="{{data_set.strEvent}}" innerHTML="{{data_set.strEvent}}"></p>
  </div>
</div>
