.result-card {
  max-width: 200px;
  display: block;
  width: 100%;
  background: #212529 !important;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.result-thumb img {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.result-thumb a {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.result-thumb a i {
  display: block;
  width: 80%;
  height: 80%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.result-thumb a i.heart-outline {
  background-image: url('/assets/Images/heart.svg');
}

.result-thumb a i.heart-full {
  background-image: url('/assets/Images/heart-fill.svg');
}

.result-data {
  padding: 0.75rem;
}
